#purpose {
    background-image: url("https://via.placeholder.com/1920x500/20c997.png?text=' '");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#mp-solution {
    background-color: lightblue;
}

nav{
    box-shadow: -9px 10px 7px #769cd863;    
}

ul{
    margin: auto;
    margin-left: 65%;