@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700&display=swap');

* {
    color: rgba(0, 0, 0, 0.87);
    font-family: 'Noto Sans', sans-serif;
}

h2 {
    color: #071D49;
}

.color-white {
    color: #FFFFFF;
}

.fs-18 {
    font-size: 18px;
}

footer {
    background: #071D49;
}

#purpose {
    background-image: url("../img/4mp-azul-3.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: #FFFFFF;
}

#mp-solution {
    background-color: lightblue;
}

#border-nav{
    box-shadow: -9px 10px 7px #769cd863;    
}

#margin-header{
    margin: auto;
    margin-left: 65%;
}
.custom-card-deck .card {
    box-shadow: 0px 4px 8px rgba(8, 35, 48, 0.24);
}

.custom-card-deck  .card-title {
    font-weight: bold;
    color: #071D49;
    text-align: center;
}

.custom-card-deck  .card-text {
    font-size: 18px;
    color: #000000;
    text-align: center;
}

.btn-primary {
    background: #0047BB;
    border-color: #0047BB;
    box-shadow: 0px 4px 8px rgba(7, 29, 73, 0.24);
    border-radius: 4px;
    text-align: center;
    letter-spacing: 0.75px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
}

.socialbar a {
    margin-left: 10px;
}

/* MOBILE */
@media (max-width: 991px) {
    .custom-card-deck .card {
        margin: 0 auto;
        margin-bottom: 35px;
        flex-direction: row;
        width: 100%;
    }
}

@media (max-width: 767px) {
    .custom-card-deck .card {
        flex-direction: column;
        max-width: 350px;
    }
}

@media (max-width: 575px) {
    .footer-container {
        flex-direction: column;
        justify-content: center;
    }

    .footer-container > a {
        margin: auto;
        margin-bottom: 40px;
    }

    .footer-container > div {
        margin: auto;
    }

    .socialbar a {
        margin-left: 5px;
        margin-right: 5px;
    }
}


