#purpose {
    background-image: url("https://via.placeholder.com/1920x500/20c997.png?text=bg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.toolbar {
    height: 60px;
    margin: -8px;
    display: flex;
    align-items: center;
    color: #071D49;
    font-weight: 600;
    background-image: linear-gradient(#d2d7e0,);
  }

  .toolbar img {
    margin: 0 16px;
  }
  
.spacer{
    margin-left: 840px;
  }

.txt-header{
    margin-right: 10px;
  }

a{
    color: #071D49;
}

.btn-primary{
    margin-left: 32px;
}